<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="Paladin">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] [%logger{36}] %msg%n"/>
        </Console>

        <File name="Logs" fileName="logs/app.log">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] [%logger{36}] %msg%n"/>
        </File>
        <Async name="AsyncLogs">
            <AppenderRef ref="Logs"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncLogs"/>
        </Root>
    </Loggers>
</Configuration>
